parameters:
    level: 6
    bootstrapFiles:
        - tests/bootstrap.php
        - vendor/cakephp/cakephp/src/functions.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    paths:
        - src
